@import '../settings/settings.global';
@import '../settings/settings.colors';

.o-container{
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
}

.o-container--full{
    min-height:100vh;
    background-color: $bg-color;
}