$alpha-color: #16be99;
$beta-color: #ef6f6c;

$alpha-color-dark: darken($alpha-color, 10%);
$beta-color-dark: darken($beta-color, 10%);

$text-color: #f0f2f6;

$bg-color: #314149;
$bg-color-light: lighten($bg-color, 5%);
$bg-color-dark: #263238;

$white: #fefefe;
$black: #333333;