@import './src/style/settings/settings.colors.scss';
@import './src/style/settings/settings.global.scss';

.c-login__signup{
    text-align: center;  
}

.c-login__form{
    width:360px;
    margin:0 auto;
    margin-bottom:10px;
}

.c-login__form input{
    width:100%;
    border:0;
    border-bottom:1px $alpha-color solid;
    background:none;
    color:$alpha-color;
    font-size:1.3em;
    margin-bottom:40px;
}


.c-login__form input:focus{
    outline:none;
}

.c-login__signup a{
    font-weight:600;
}

.c-login__form__password{
    max-width:100%;
    padding-right:0px !important;
}

.VuePassword__Toggle{
    height:20px;
}

.VuePassword__Toggle__Icon{
    fill:$alpha-color;
}


.VuePassword__Input{
    height:40px;
}

.VuePassword__Message{
    margin-bottom:30px;
}

.VuePassword__Meter{
    padding:0;
    margin:10px 0px 10px 0px;
}

.VuePassword--weak{
    color:$beta-color;
}

.VuePassword--medium{
    color: #af8679;
}

.VuePassword--good{
    color: #57a68c;
}

.VuePassword--great{
    color: $alpha-color;
}