@import './src/style/settings/settings.colors.scss';
@import './src/style/settings/settings.global.scss';

.c-leaderboard h1{
    padding-bottom: 20px;
}
.c-leaderboard__holder{
    width: 80%;
    margin:0 auto;
}
.c-leaderboard__header p{
    display: none;
}
.c-leaderboard__toggle{
    display: flex;
    justify-content: space-between;
}
.c-leaderboard__toggle p{
    height: 50px;
    line-height: 55px;
    font-size: 1.4em;
    margin-left:5px;
}
.toggle{
    margin:5px;
    width: 130px;
    height: 15px;
    align-self: flex-end;
    line-height: 15px;
    font-size: 1.2em;
    margin-top:0px !important;
}   
.c-leaderboard__grid{
    background: $alpha-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.7fr 1fr;
    grid-template-areas: "username username username username username"
                         "position score-label score-label time-label time-label"
                        "position score score time time";
    font-size: 1.3em; 
    margin-bottom: 5px;
    border-radius: 10px;
  }
  
.position { 
    grid-area: position; 
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    margin:10px 0px;
    border-right: 1px solid $alpha-color-dark;
    font-size:1.4em;
}

.username { 
    overflow: hidden;
    grid-area: username; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    background: $alpha-color-dark;
    border-radius: 10px 10px 0px 0px;
}
.username p{
    font-size: 1em;
}
.score-label {
    grid-area: score-label; 
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.time-label { 
    grid-area: time-label; 
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.score { 
    grid-area: score;
    margin:0 auto;
    display: block;
}

.time { 
    grid-area: time; 
    margin:0 auto;
    display: block;
}
.label__helper{
    font-size: 0.8em;
}
.circle__helper{
    background: $alpha-color-dark;
    height: 40px;
    width:auto;
    padding:0px 15px;
    line-height: 40px;
    text-align: center;
    border-radius: 90px;
}

.c-leaderboard .secundary{
    margin-top:25px;
}
@media only screen and (max-width:768px){
    .c-leaderboard__holder{
        width: 95%;
    }
}