@import './src/style/settings/settings.colors.scss';
@import './src/style/settings/settings.global.scss';
.c-game__map{
  width:100%;
  height:100vh;
}

#map{
  width:100%;
  height:100%;
  fill:$text-color;
  stroke:black;
  stroke-width:0.5;
}

.c-game__footer{
  position: fixed;
  left: 50;
  bottom: 0;
  width: 100%;
  max-width:800px;
  margin:0 auto;
  height:60px;
  background-color: $bg-color;
  text-align: center;
  font-size:1.4em;
  line-height: 2;
  font-weight:600;
  vertical-align: middle;
}

.c-game__top{
  position: fixed;
  left: 50;
  top: 0;
  width: 100%;
  max-width:800px;
  margin:0 auto;
  height:40px;
  background-color: $bg-color;
  font-size:1.4em;
  line-height: 2;
  vertical-align: middle;
}

.c-game__top__score{
  width:140px;
  padding-left:10px;
  float:left;
}

.c-game__top__controls{
  width:80px;
  float:right;
  padding-right:20px;
}

.pointAtCountry{
  color:$alpha-color;
  font-size:1.4em;
}

.controlbutton{
  width:30px;
  height:30px;
  margin-top:5px;
  fill:$text-color;
  margin-left:10px;
}

.controlbutton:hover{
  cursor: pointer;
  fill:$beta-color;
}

.correctCountry{
  fill:$beta-color;
}