*, body{
    font-family: $font-stack;
    color:$text-color;
}

h1{
    font-size:4.7em;
    font-weight:600;
    text-align:center;
    padding:60px 0px;
}

a{
    text-decoration: none;
}

.c-button-primary{
    background-color: $alpha-color;
    border:0;
    border-radius:36px;
    width:280px;
    margin: 0 auto;
    margin-bottom:40px;
    font-size:1.5em;
    font-weight:600;
    padding:10px 0px;
    text-align:center;
    transition: background-color 0.2s ease;
}

.c-button-primary:hover{
    cursor: pointer;
    background-color: $alpha-color-dark;
}

.secundary{
    background-color: $beta-color;
}

.secundary:hover{
    background-color: $beta-color-dark;
}



.st0{
transition: .3s fill;
}

.st0:hover{
    fill:$alpha-color;
}

.c-language-icon{
    width:100%;
    display:flex;
    justify-content: flex-end;
}

.c-language-icon img{
    width:30px;
    margin:20px;
    transition: transform .2s ease-in-out;
}

.c-language-icon img:hover{
    cursor: pointer;
    transform: scale(1.2);
}